.card-container {
  height: 160px;
  width: auto;
}

.cards-img {
  height: 140px;
  width: 250px;
  /* width: auto; */
  transition: all 0.3s;
}

.card-container img:hover {
  transform: translate(0, -5px);
}
