.home-img {
  width: 100%;
  opacity: 0.4;
  z-index: 0;
  height: 800px;
}
.home {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.rows-container {
  position: absolute;
  top: 600px;
}
.home-banner {
  position: relative;
}

.overview {
  font-size: 20px;
  text-align: justify;
}

.title {
  font-size: 60px;
  text-align: center;
  font-weight: 500;
  font-family: Rakkas;
}

.home-txt {
  color: white;
}

.home-details {
  position: absolute;
  top: 150px;
  left: 70px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.btns-container {
  display: flex;
  gap: 20px;
}
.btns {
  height: 50px;
  width: 150px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.btns:hover {
  background-color: rgb(49, 49, 49);
}
.btn2 {
  background-color: rgb(24, 24, 24);
  color: white;
}
