.home-img {
  width: 100%;
  opacity: 0.4;
  z-index: 0;
  height: 800px;
}
.home {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.rows-container {
  position: absolute;
  top: 600px;
}
.home-banner {
  position: relative;
}

.overview {
  font-size: 20px;
  text-align: justify;
}

.title {
  font-size: 60px;
  text-align: center;
  font-weight: 500;
  font-family: Rakkas;
}

.home-txt {
  color: white;
}

.home-details {
  position: absolute;
  top: 200px;
  left: 70px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
