.section-nav {
  display: flex;
  align-items: center;
  background-color: transparent;
  position: fixed;
  top: 0;
  gap: 40px;
  padding-left: 50px;
  height: 80px;
  z-index: 1;
  width: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.netflix-logo {
  background-image: none;
  height: 35px;
  width: 100px;
}
